@page "{index?}"
@model Baldin.SebEJ.Gallery.Web.Pages.Gallery.IndexModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="row">
    <div class="col-6">
        <h1>Gallery</h1>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-warning" onclick="writePagination(@Model.Pictures.PageIndex, @Model.Pictures.TotalPages);this.remove();">Enable experimental client-side pagination</button>
    </div>
</div>

<div class="row">
    <div class="col-10">
        @if (User.Identity.IsAuthenticated)
        {
            <form enctype="multipart/form-data" method="post">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input asp-for="Photo" class="custom-file-input" id="image-upload" />
                        <label class="custom-file-label" for="image-upload" aria-describedby="image form upload">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text" id="upload button">Upload</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                To upload images you must Log-In or Register!
            </div>
        }
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" onclick="getCurrentPagePhotos();"><i class="fas fa-sync-alt"></i></button>
    </div>
</div>

<hr />

<div class="row" id="gallery">
    @foreach (var item in Model.Pictures)
    {
        <div class="col-md-4 col-sm-6">
            <div class="card" style="margin-bottom: 25px;">
                <a asp-page="/Gallery/Photo" asp-route-photoId="@item.Id">
                    @if (!string.IsNullOrEmpty(item.Thumbnail_Url))
                    {
                        <img class="card-img-top" style="height: 300px;" src="@item.Thumbnail_Url" alt="Card image cap">
                    }
                    else
                    {
                        <img class="card-img-top" style="height: 300px;" src="@item.Url" alt="Card image cap">
                    }
                </a>
                <div class="card-body">
                    <!--<h5 class="card-title">title</h5>-->
                    <!--<p class="card-text">descr</p>-->
                    <div id="card_board_@item.Id">
                        @if (!item.IsVoted)
                        {
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <select name="vote" id="vote_@item.Id" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <button type="button" onclick="voteImage(@item.Id);" class="btn btn-primary btn-block">Vote</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-6">
                                    <i class="fas fa-star"></i> @item.Rating.ToString("0.#")
                                </div>
                                <div class="col-6">
                                    <i class="fas fa-poll"></i> @item.Votes
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<section id="pagination">
    <nav aria-label="gallery pagination">
        <ul class="pagination justify-content-center">
            <li id="prevPage" class="page-item @(Model.Pictures.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-page="/Gallery/Index" asp-route-index="@(Model.Pictures.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            @foreach (var index in Model.Pictures.GetRoutePages())
            {
                <li class="page-item @(Model.Pictures.PageIndex == index ? "active" : "")"><a class="page-link" asp-page="/Gallery/Index" asp-route-index="@(index)">@(index)</a></li>
            }

            <li id="nexPage" class="page-item @(Model.Pictures.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-page="/Gallery/Index" asp-route-index="@(Model.Pictures.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

@section Scripts {
    <script src="~/js/gallery.js"></script>
}
