@page "{photoId}"
@model Baldin.SebEJ.Gallery.Web.Pages.Gallery.PhotoModel
@{
    ViewData["Title"] = "Photo";
}

<h1>Photo</h1>

<div class="row">
    <div class="col-md-9">
        <img class="img-fluid" style="max-height: 500px;" src="@Model.Picture.Url" alt="Uploaded Image" />
    </div>
    <div class="col-md-3">
        <h4>Info</h4>
        <input type="hidden" value="@Model.Picture.Id" id="postId" />
        @*<p>Name: @Model.Picture.Name</p>*@
        <p>Votes: @Model.Picture.Votes</p>
        <p>Rating: @Model.Picture.Rating.ToString("0.#")</p>
    </div>
</div>

<br />
<br />
<h3>Comments</h3>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="commentText">Comment this photo</label>
                    <textarea class="form-control" id="commentText" aria-describedby="insert your comment" placeholder="Enter text.." maxlength="500"></textarea>
                    <p style="text-align: right"><span id="charCount">0</span>/500</p>
                </div>
                <button type="button" class="btn btn-primary" id="sendComment"><i class="fas fa-paper-plane"></i> Send</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        To be able to comment you must log-in to the application.
    </div>
}

<hr />

<div class="row" id="comments_box">
    @*@if (Model.Comments == null || Model.Comments.Count() <= 0)
        {
            <div class="col">
                <p style="text-align:center;">Commenta per primo!</p>
            </div>
        }
        else*@
    @if (Model.Comments != null && Model.Comments.Count() > 0)
    {
        @foreach (var item in Model.Comments)
        {
            <div class="col-12" id="comment_@item.Id" style="border-bottom: 10px;">
                <div class="row">
                    <div class="col-1">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                    <div class="col-11">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Email, @item.InsertDate.ToLocalTime()</h5>
                                <div id="updateBox_@item.Id">
                                    <p class="card-text" style="max-height: 40px; overflow-x: auto;" id="comText_@item.Id">@item.Text</p>
                                    @if (User.Identity.Name == item.Email)
                                    {
                                        <button class="btn btn-link" style="font-family: 'Comic Sans MS', cursive, sans-serif;" onclick="updateComment(@item.Id);">Modify</button>
                                        <button class="btn btn-link" style="font-family: 'Comic Sans MS', cursive, sans-serif;" onclick="deleteComment(@item.Id);">Delete</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script>
        var username = "@User.Identity.Name";
        var postId = "@Model.Picture.Id";
    </script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/photo_detail.js"></script>
}